/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 7, 2016, 4:22:45 AM
    Author     : kimaiga
*/

/*fonts*/

@font-face {
    font-family: 'Raleway', serif;
    src: url(fonts/Raleway-Regular.ttf);
}

div {
    font-family: 'Raleway', serif;
}

html,
body {
    font-family: 'Raleway', serif;
    color: #666;
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-family: 'Raleway', serif;
}

/************************************************************************************ 
               Top-nav bar
************************************************************************************/

.menu > li > a {
    text-align: center;
    color: #fff;
    font-weight: bolder;
}
.top-bar,
.top-bar ul {
    background-color: transparent;
}
.header {
    position: fixed;
    right: 0;
    left: 0;
    margin: 0;
    height: 60px;
    background-color: transparent;
    transition: .5s;
    padding-left: 5%;
}
.header.scrolling {
    background-color: skyblue;
    opacity: 1;
    transition: .5s;
    z-index: 10;
}
.xx .register-top-right {
    border: solid 1px #fff;
    border-radius: 5px;
    margin-right: 50px;
    padding-left: 15px;
    padding-right: 15px;
    -webkit-transition: background-color .5s ease-in-out;
    background-color: #fff;
    color: #000;
    transition: .5s;
}
.xx .register-top-right:hover {
    opacity: .5;
}
li a:hover {
    color: #6800ff;
    border-bottom: 1px solid blue;
    transition: .5;
}
.web_logo {
    width: 64px;
}
.title-bar {
    z-index: 50;
}

/************************************************************************************ 
               HERO
************************************************************************************/

.hero {
    background-image: linear-gradient(rgb(255, 255, 0), rgb(255, 255, 0)), url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAGElEQVQIW2NkYGD4z8DAwMgAI0AMdM5/ACRwAgMsRgU3AAAAAElFTkSuQmCC), url(../img/hero3.jpg);
    height: 100vh;
    width: 100%;
}
.hero p {
    text-align: center;
    color: #2689ca;
    font-size: 3.5em;
    line-height: 65px;
}
.hero p #font-big {
    font-size: 2em;
}
@media screen and (max-width: 439px) {
    .hero p #font-big {
        font-size: 2.0em;
    }
}
.hero #register-pad button {
    border: solid white 1px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    color: white;
    border-radius: 5px;
    width: 300px;
    -webkit-transition: background-color .5s ease-in-out;
}
.hero button:hover {
    border-color: green;
    background-color: green;
}
#hero-text-padding {
    padding-top: 15%;
}
.date {
    color: white;
    text-align: center;
    font-size: 35px;
}

.about {
    text-align: center;
    background-color: aliceblue;
    max-width: none;
}
#about-padding {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10% 5%;
}
#about-padding p {
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5em;
    color: #504949;
}

.vision {
    text-align: center;
    font-size: 1.5em;
    padding: 10% 0;
}
.vision img {
    height: 110px;
    margin-bottom: 10px;
}